@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Wotfard-fallback';
  src: local(Verdana);
  size-adjust: 90%;
  ascent-override: 93%;
  descent-override: 18%;
  line-gap-override: normal;
}

@font-face {
  font-family: 'Wotfard';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/wotfard-regular-webfont.woff2') format('woff2');
}
